<?xml version="1.0" encoding="utf-8" ?> 
<settings>
	<add key="userid" value="sa" />
	<add key="password" value="1qaz@WSX" />
	<add key="database" value="PdTest" />
	<add key="datasource" value="." />
	<add key="selectKey" value="select @@IDENTITY as value" />
	<add key="directory" value="Maps" />
	<add key="useStatementNamespaces" value="false" />
</settings>
